@import "utf-8";


/* layout */
.inner {
  padding: 0 2rem;
  box-sizing: border-box;
}

/* common */
:root {
  /* font-size */
  --font-xl: 2rem;
  --font-lg: 1.8rem;
  --font-mi: 1.6rem;
  --font-sm: 1.4rem;
  --font-xs: 1.3rem;

  /* font-weight */
  --font-light: 300;
  --font-nomal: 500;
  --font-bold: 700;

  /* color */
  --color-white: #fff;
  --color-black: #303030;
  --color-navy: #3d434f;
  --color-light-navy: #798895;
  --color-deep-gray: #ccc;
  --color-gray: #d8dbe0; 
  --color--light-gray: #e8ecef;
  --color-light-blue: #c8d3df;
  --color-blue: #3a6ea5;
  --color-yellow: #ffc400;
  --color-green: #038a8a;
  --color-mdi-green: #4ab4b4;
  --color-light-green: #7dbfbf;
  --color-red: #ff6b6b;
  --btn-red: #d78b8b;
  --btn-blue: #5b97cc;
}

.blue { color: var(--color-blue); }
.yellow { color: var(--color-yellow); }
.red { color: var(--color-red); }

.btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 0 1rem;
}
.com_btn {
  position: relative;
  width: 100px;
  height: 45px;
  font-size: var(--font-nomal);
  color: var(--color-white);
  margin-right: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: background .4s;
}
.com_btn a { color: var(--color-white); }
.com_btn:last-child { margin-right: 0; }
.register { background: var(--btn-blue); }
.hold { background: var(--color-deep-gray); }
.delete { background: var(--btn-red); }
.register:hover { background: rgb(73, 127, 175) }
.hold:hover { background: rgb(177, 171, 171); }
.delete:hover { background: rgb(195, 121, 121); }


/* Header */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: var(--color-white);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.header .logo {
  width: 11rem;
}
.header .logo img {
  width: 100%;
  height: auto;
}
.ham_btn {
  padding: 1rem;
  margin-left: 4rem;
  box-sizing: border-box;
  cursor: pointer;
}
.ham_btn span {
  display: block;
  width: 28px;
  height: 2px;
  margin-bottom: 0.5rem;
  background: var(--color-deep-gray);
}
.ham_btn span:last-child { margin-bottom: 0; }

/* user info wrap */
.user_info_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  box-sizing: border-box;
}
.user_info_wrap p a { 
  font-size: 1.4rem; 
  color: #777;
}
.user_info_wrap p .wel_text {
  padding-left: .2rem;
}



.btn_wrap {
  margin: 2rem 0;
}

/* content body */
.content_body {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.side_menu {
  position: relative;
  width: 220px;
  min-width: 220px;
  max-height: 100%;
  min-height: 100vh;
  margin-left: 0;
  background: #333843;
  transition: margin .5s;
  z-index: 100;
}
.side_menu.show { margin-left: -220px; }
.menu_wrap > ul {
  width: 100%;
  height: 100%;
}
.menu_wrap > ul > li {
  line-height: 6rem;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  cursor: pointer;
}
.menu_wrap > ul > li:last-child { border-bottom: 1px solid rgba(255,255,255,0.05); }
.menu_wrap > ul > li.active a {
  color: var(--color-mdi-green);
  background: #2b3039;
  border-left-color: var(--color-mdi-green);
}
.menu_wrap > ul .sub_down1.show { display: block; }
.menu_wrap > ul > li > a {
  position: relative;
  width: 100%;
  padding-left: 2rem;
  font-size: var(--font-sm);
  color: var(--color-white);
  border-left: 3px solid transparent;
  box-sizing: border-box;
}

/* submenu */
.sub_menu {
  display: none;
  position: static;
}
.sub_menu li {
  line-height: 4rem;
  border-bottom: none;
}
.sub_menu li a {
  font-size: var(--font-sm);
  padding: .5rem 0  .5rem 4rem;
  color: var(--color--light-gray);
}
.menu_wrap > ul li.active .sub_menu li a {
  color: var(--color--light-gray);
  background: #333843;
  border-left-color: transparent;
}
.sub_menu li a:hover {
  color: var(--color-mdi-green)!important;
  background: #2b3039!important;
}
/* .sub_menu li:hover a { color: #2698cb; } */
.menu_wrap ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 14px;
  transform: translateY(-50%);
  transition: transform .4s;
}
.menu_wrap ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

/* link btn */
.link_btn_wrap {
  position: relative;
  left: 0;
  bottom: -10rem;
}
.link_btn_wrap > ul > li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.link_btn_wrap > ul > li:nth-child(1) { background: #f86c6b; }
.link_btn_wrap > ul > li:nth-child(2) { background: #20a8d8; } 
.link_btn_wrap > ul > li:nth-child(1):hover { background: #e56362; }
.link_btn_wrap > ul > li:nth-child(2):hover { background: #1b97c2; } 
.link_btn_wrap > ul > li > a { color: var(--color--light-gray); }


@media screen and (max-width: 480px){

  .header .logo img {
    width: 10rem;
    height: auto;
  }
  .user_info_wrap p .remove { display: none; }

}